 body {
     background-color: black;
     color: white;
     font-family: Arial, sans-serif;
     padding: 0;
     margin: 0; 
     scroll-behavior: smooth;  
 }
 header{
      text-align: center;
      padding: 40px;
      background-color: black;
 }
 header h1 {
    color: whitesmoke;
    font-size: 2.5em;
    margin-bottom: 20px;
 }
 nav { 
  background-color: white;
  padding: 10px; 
  border-radius: 5px; 
 }
 nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
 }
 nav a {
    text-decoration: none;
    color:black;
    font-size: 18px;
 }
 nav a:hover {
    color: blueviolet;
}
acv
 .home-tab { 
    display: grid;
    grid-template-columns: 1fr 2fr; 
    align-items: center; 
    gap: 20px; 
    padding: 20px;
 }
 .home-tab img {
    width: 600px;
    margin: 0 auto;
    text-align: left;
 }
 .home-tab p {
        color: white;
        text-align: right;
        position: left;
        font-size: x-large;
 }
footer {
    background-color: blueviolet;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
footer p {
    color:white;
    font-size: 1em;
}