 body {
     background-color: black;
     width: 100%;
     height: 100%;
     margin: 0;   
 }
 h1 {
    color: whitesmoke;
 }
 nav {
    text-decoration: underline; 
  background-color: white;
  padding: 10px; 
  margin-right: 10px; 
  border-radius: 5px; 
  font-family: Arial, sans-serif;
 }
 nav ul {
    list-style: none;
    display: flex;
    gap: 30px;
 }
 nav a:hoover{
       color:blueviolet;
       background-color: white;
 }
 main {
    padding: 20px;
 }
 .home-tab { 
    display: grid;
    grid-template-columns: 1fr 2fr; 
    align-items: center; 
    gap: 20px; 
    padding: 20px;
 }
 .home-tab img {
    width: 600px;
    margin: 0 auto;
    text-align: left;
 }
 .home-tab p {
        color: white;
        text-align: right;
        position: left;
        font-size: x-large;
 }
footer {
    background-color: blueviolet;
    text-align: center;
    padding: 15px;
    width: 100%;
}